[submodule "src/fftisdf"]
	path = src/fftisdf
	url = git@github.com:yangjunjie0320/fftisdf.git
[submodule "src/fftisdf-main"]
	path = src/fftisdf-main
	url = git@github.com:yangjunjie0320/fftisdf.git
[submodule "src/libdmet2-main"]
	path = src/libdmet2-main
	url = git@github.com:zhcui/libdmet2.git
