[submodule "src/libdmet2-main"]
	path = src/libdmet2-main
	url = git@github.com:zhcui/libdmet2.git
[submodule "src/fftisdf-main"]
	path = src/fftisdf-main
	url = git@github.com:yangjunjie0320/fftisdf.git
[submodule "src/pyscf-forge-lnocc"]
	path = src/pyscf-forge-lnocc
	url = git@github.com:yangjunjie0320/pyscf-forge.git
	branch = lnocc
