[submodule "src/libdmet2-main"]
	path = src/libdmet2-main
	url = git@github.com:zhcui/libdmet2.git
[submodule "src/fftisdf-main"]
	path = src/fftisdf-main
	url = git@github.com:yangjunjie0320/fftisdf.git
[submodule "src/lno-klno"]
	path = src/lno-klno
	url = git@github.com:hongzhouye/lno.git
	branch = klno
[submodule "src/pyscf-forge"]
	path = src/pyscf-forge
	url = git@github.com:hongzhouye/pyscf-forge.git
	branch = lnocc


